<%- include('partials/header') -%>
<body>
  <div class="navbar bg-base-200 sticky">
    <div class="flex-1">
      <a href="/" class="btn btn-lg lg:btn-md btn-ghost normal-case">
        <h1 class="site-name text-5xl lg:text-3xl font-bold">keyfigurator</h1>
      </a>
    </div>
  </div>
  <div class="hero min-h-screen bg-base-200">
      <div class="card flex-shrink-0 w-full max-w-3xl lg:max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
          <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el=> { %>
              <div class="alert alert-warning">
                <%= el.msg %>
              </div>
              <% }) %>
                <% } %>
                  <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el=> { %>
                      <div class="alert alert-warning">
                        <%= el.msg %>
                      </div>
                      <% }) %>
                        <% } %>
          <form action="/login" method="POST">
            <div class="form-control">
              <label class="label">
                <h3 class="text-3xl lg:text-xl">Email</h3>
              </label>
              <input type="email" name="email" placeholder="email" class="input input-lg lg:input-md input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <h3 class="text-3xl lg:text-xl">Password</h3>
              </label>
              <input type="password" name="password" placeholder="password" class="input input-lg lg:input-md input-bordered" />
            </div>
            <div class="form-control mt-6">
              <button type="submit" class="btn btn-primary btn-login btn-lg lg:btn-md">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>